/* *************************general****************************/

* {
    font-family: "Josefin Sans", sans-serif;
}

/* *************************main styles ****************************/
.text-container {
    display: inline-block;
    margin: 45px 15%;
    border-left: 5px dotted darkseagreen;
    padding-left: 15px;
    user-select: none;
}

.welcome {
    font-family: 'Bad Script', cursive;
    font-size: 45px;
}


.button-container {
    display: flex;
    justify-content: center;
}

.columns-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 75px 0 100px 0;
    text-align: center;
    padding-top: 20px;
    border-top: 5px dotted darkseagreen;
    user-select: none;
    background-color:rgba(245, 189, 206, 0.178);
}

.column-one {
    padding: 0 7.5px 0 37.5px;
}

.column-two {
    padding: 0 15px;
}

.column-three {
    padding: 0 37.5px 0 7.5px;
}

.booths {
    font-family: 'Bad Script', cursive;
    border-left: 5px dotted darkseagreen;
    padding-left: 15px;
    margin-left: 30px;
}

.our-booths-card-container {
    display: flex;
    margin: 25px 100px 100px;
    text-align: center;
    justify-content: space-evenly;
}

.card {
    width: 700px;
    height: fit-content;
}

.card-title {
    font-weight: bolder;
}

.card-text {
    font-family: Verdana, sans-serif;
}

.more-info {
    font-family: 'Bad Script', cursive;
    border-left: 5px dotted darkseagreen;
    padding-left: 15px;
    margin-left: 30px;
}

.contact-img-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 25px 0 100px 0;
}

.contact-img {
    width: 70%;
    padding: 0 0 0 10%;
}

.contact-form {
    padding: 0 10% 0 0;
}

/* *************************footer styles ****************************/
footer {
    display: flex;

}