/* *************************main styles ****************************/
* {
    font-family: "Josefin Sans", sans-serif;
}

.columns-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px;
    text-align: center;
    padding-top: 20px;
    border-top: 5px dotted darkseagreen;
}

.column-one-container {
    margin: 0 5%
}

.column-two-container {
    margin: 0 5%
}

.column-three-container {
    margin: 0 5%
}
.contact-img-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-container {
    display: inline-block;
    margin: 45px 15%;
    border-left: 5px dotted darkseagreen;
    padding-left: 15px;
}
