/******************* Reset ********************************/
/* not needed due to Bootstrap in the code */

/* *************************general****************************/

* {
    font-family: "Josefin Sans", sans-serif;
}

body {
    min-width: 525px;
}

ul {
    padding: 0;
}

p {
    margin-block-start: 0;
}

.carousel-caption {
    color: black;
    background-color: rgba(253,243,246,.25);
}

/* *************************main styles ****************************/

.banner {
    min-width: 100%;
}

.text-container {
    display: inline-block;
    margin: 45px 5%;
    border-left: 5px dotted darkseagreen;
    padding-left: 15px;
    user-select: none;
}

.welcome {
    font-family: 'Bad Script', cursive;
    font-size: 45px;
}


.button-container {
    display: flex;
    justify-content: center;
}

.columns-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 75px 0;
    text-align: center;
    padding-top: 20px;
    border-top: 5px dotted darkseagreen;
    user-select: none;
    background-color:rgba(245, 189, 206, 0.178);
}

.column-title {
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
}

.column-one {
    padding: 0 7.5px 0 37.5px;
}

.column-two {
    padding: 0 15px;
}

.column-three {
    padding: 0 37.5px 0 7.5px;
}

.booths {
    font-family: 'Bad Script', cursive;
    border-left: 5px dotted darkseagreen;
    padding-left: 15px;
    margin-left: 30px;
}

.our-booths-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0;
    text-align: center;
}

.card {
    padding: 10px
}

.card-title {
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
}

.card-text, .services-text {
    font-family: Verdana, sans-serif;
}

.more-info {
    font-family: 'Bad Script', cursive;
    border-left: 5px dotted darkseagreen;
    padding-left: 15px;
    margin-left: 30px;
}

.contact-img-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin: 50px 0;
}

.contact-img {
    width: 70%;
    padding: 0 0 0 10%;
}

.contact-form {
    padding: 0 10% 0 0;
    grid-column: 2 / 4;
}

.services-header {
    font-family: 'Bad Script', cursive;
    font-size: 35px;
    margin-top: 50px;
    border-left: 5px dotted darkseagreen;
    padding-left: 15px;
    margin-left: 30px;
    background-color:rgba(245, 189, 206, 0.178);
}

.services-carousel-container {
    margin: 50px 400px 25px;
}

.services-text{
    display: grid;
    text-align: center;
    margin: 15px;
}

.text-header {
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
}

.faq-container {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.faq-columns-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 0 0;
    padding: 50px;
    border-top: 5px dotted darkseagreen;
    user-select: none;
    background-color:rgba(245, 189, 206, 0.178);
}

.faq-header {
    font-family: 'Bad Script', cursive;
    font-size: 30px; 
    margin: 25px 10px;
    padding-bottom: 50px;
}

.faq-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    text-align: center;
}

.column-image {
    max-width: 200px;
}

.faq-button-container {
    margin: 25px;
    display: flex;
    justify-content: center;
}

/* *************************footer styles ****************************/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 189, 206, 0.178);
}

.footer-logo {
    margin: 10px;
}

ul {
    list-style: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-icon-container {
    margin: 10px;
    display: flex;
    align-items: center;
}

.social-media-icon {
    width: 40px;
}

/* *************************media queries ****************************/

@media screen and (max-width: 1200px) {
    .services-carousel-container {
        margin: 50px 250px 25px;
    }
}

@media screen and (max-width: 992px) {
    .contact-img-form-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .text-container {
        margin: 10px 25px;
    }

    .our-booths-card-container {
        display: grid;
        margin: 25px 50px;
    }

    .card {
        margin-bottom: 25px
    }

    .contact-img-form-container {
        display: block;
        margin: 25px 25px 25px;
    }

    .contact-img {
        display: none;
    }

    .contact-form {
        padding: 0;
    }

    .services-carousel-container {
        margin: 50px 100px 25px;
    }

    .services-header {
        font-size: 30px;
    }

    .faq-columns-container {
        grid-template-columns: 1fr 1fr;
    }

    .column-title{
        font-size: 1rem;
    }
}

@media screen and (max-width: 580px) {
    .faq-columns-container {
        margin: 50px 0;
        padding: 50px 5px;
    }

    .faq-header {
        font-size: 25px;
        text-align: center;
    }

    .column-image {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .welcome {
        font-size: 35px;
    }

    .columns-container {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }

    .column-one {
        padding: 5px;
    }

    .column-two {
        padding: 5px;
    }

    .column-three {
        padding: 5px;
    }

    .card {
        width: 500px;
    }

    .our-booths-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}